<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="static/css/bootstrap.css">
		<header class="text-center w3-bar w3-black">
			<h1> ABOUT PAGE </h1>
</header>
<nav>
  <div class="navbar">
      <a href="about">About Us</a>
      <a href="search">Search</a>
      <a href="share">Share</a>
    </div>
    </nav>

<body>
	<header class="text-center w3-bar w3-black">
		<h2>ABOUT PAGE</h2>
	</header>
		<iframe src="https://www.google.com/maps/embed?pb=" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		  </p>
		</footer>
	<table>
        <thead>
            <tr>
                <th>Search for books near you!</th>
                <th>What are your favourite genres?</th>
            </tr>
        </thead>
    </table>
  </div>
	<p> Please enter your details </p>

	<form method="post" action="/email">
		Name:<br>
		<input type="text" name="name">
		<br>
		Email:<br>
		<input type="text" name="email">
		<input type="submit" value="Submit" id="submit-button">
	</form>
</body>
</body>
</html>





</html>
