<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="static/css/bootstrap.css">
<nav>
  <div class="navbar">
      <a href="/">Home</a>
      <a href="search">Search</a>
      <a href="share">Share</a>
    </div>
</nav>

</head>
<body class="text-center w3-bar w3-black">
<header> Our collection of books: </header>
  

  <div>

    {% for i in book_list%}
    
</div>
   Book title: {{i[0]}}
   <br>
   pages: {{i[1]}}
   <br>
   location: {{i[2]}}
   <br>
   <br>
   <br>
   <br>


    {%endfor%}



  </div>



</body>
