<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="static/css/bootstrap.css">

<nav>
  <div class="navbar">
      <a href="/">Main</a>
      <a href="about">About us</a>
      <a href="share">Share</a>
    </div>
    </nav>

<body class="text-center w3-bar w3-black">
	<header class="text-center w3-bar w3-black">
		<h2>Discover the world of books!</h2>
	</header>
		<iframe src="https://www.google.com/maps/embed?pb=" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		  </p>
		</footer>
	<table class="text-center w3-bar w3-black">
        <!-- <thead>
            <tr>
                <th>Search for books near you!</th>

            </tr>
        </thead> -->
    </table>
  </div>
	<p> Search for books near you!</p>

	<p>	Please enter your details: </p>

	<form method="post" action="/email">
        Name:<br>
        <input type="text" name="name">
        <br>
        Email:<br>
        <input type="text" name="email">
        <input type="submit" value="Submit" id="submit-button">
    </form>
</body>




</html>
