<!DOCTYPE html>
<html>
<head>
<!-- <<<<<<< HEAD -->
	<nav>
<!-- ======= -->
	<link rel="stylesheet" href="static/css/bootstrap.css">
		<header class="text-center w3-bar w3-black">
			<!-- <h1> SHARE PAGE </h1> -->
</header>
<nav>
<!-- >>>>>>> 786d1eee73f05e9897c6894579f330ab7930b618 -->
  <div class="navbar">
      <a href="about">About Us</a>
      <a href="search">Search</a>
      <a href="/">Home</a>
   </div>
</nav>
	<link rel="stylesheet" href="static/css/bootstrap.css">
		<header class="text-center w3-bar w3-black">
			<h1> Share Books </h1>
</header>


<body>
	<header class="text-center w3-bar w3-black">
		<h2>Please enter the details of the book you'd like to share</h2>
	</header>

		  </p>

  </div>

<div class="text-center w3-bar w3-black">

	<form method="post" action="/share"  >
		Title   : <input type="text" name="booktitle">  <br>
		<br>
		<br>
        Pages   : <input type="text" name="pages" /> <br>
        <br>
        <br>
        Location: <input type = "text" name = "location" />
        <br>
        <input type="submit" name= "form" value="Submit" />
        <br>
        <br>


	</form>
		<div>
		{%  if booktitle %}
			<br>
			<br>
			The book you submitted is: {{ booktitle }}
			<br>
			<br>
			Number of pages is: {{ pages }}

			<br>
			<br>
			The book can be collected from: {{ location}}

			<br>
			<br>
			<br>

			<img src="static/images/full_book.jpg" alt="full book" style="width:700px;height:auto;">

		{% else %}

		<img src="static/images/empty_book.jpg" alt="empty book" style="width:700px;height:auto;">

		{% endif %}


		</div>

</div>





</body>
</body>
</html>





</html>
